<div class="content-card homepage">
    <a href="/{{type}}/{{id}}">
        <div class="card">
            <div class="card-image has-text-centered card-info data-content-type="{{type}}"
            data-content-id="{{id}}"">
                <img class="card-poster" src="{{poster}}" alt="Poster image for {{title}}">
            </div>
            <div class="card-content card-info">
                <p class="content-title has-text-weight-semibold">{{title}}</p>
                <p class="title is-size-6 content-date has-text-grey">{{get_year release}}</p>
            </div>
            {{!-- {{#if loggedIn}}
            <div class="card-footer">
                <p class="card-footer-item">Add to Watchlist</p>
            </div>
            {{/if}} --}}
        </div>
    </a>
</div>