{{!-- container for each comment --}}
<article class="media">
    <figure class="media-left">
        <p class="image is-48x48">
            {{!-- container for user profile image --}}
            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p class="has-text-grey-lighter">
                <strong class="has-text-info">{{user.username}}</strong>
                <small>{{format_date createdAt}}</small>
                <br>
                {{comment_text}}
                <br>
                <a href="/{{content_type}}/{{content_id}}">
                    <small>Go to {{content_type}} page</small>
                </a>
            </p>
        </div>
    </div>
</article>




{{!-- <div class="column is-3-table is-3-desktop content-card">
    <a href="/{{type}}/{{id}}">
        <div class="card has-background-dark has-text-light card-hover" data-content-type="{{type}}"
            data-content-id="{{id}}">
            <div class="card-image has-text-centered card-info">
                <img class="card-poster" src="{{poster}}" alt="Poster image for {{title}}">
            </div>
            <div class="card-content card-info ">
                <p class="content-title">{{title}}</p>
                <p class="title is-size-5 content-date has-text-light">{{get_year release}}</p>
            </div>
        </div>
    </a>
</div> --}}