{{!-- card container for watchlist --}}
<div class="content-card">
    <div class="card">
        <div class="card-image has-text-centered card-info">
            <img class="card-poster" src="{{poster_path}}">
        </div>
        <div class="card-content card-info">
            <p class="content-title has-text-weight-semibold">{{content_title}}</p>
            <p class="title is-size-6 content-date has-text-grey">{{release}}</p>
        </div>
        <footer class="card-footer">
            <div class="card-footer-item">
                {{#if isCurrentUser}}
                {{!-- <button class="button is-danger is-inverted is-fullwidth remove-button" data-content-id="{{content_id}}"
                    data-content-type="{{content_type}}">Remove</button> --}}
                <div class="dropdown is-up card-dropdown-btn is-active">
                    <div class="dropdown-trigger">
                        <button class="button is-white is-fullwidth card-dropdown-btn" aria-haspopup="true" aria-controls="dropdown-menu">
                            Change Status
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <li class="dropdown-item">
                                <button class="button is-white is-fullwidth">Plan to Watch</button>
                            </li>
                            <div class="dropdown-item">
                                <button class="button is-white is-fullwidth">Watching</button>
                            </div>
                            <div class="dropdown-item">
                                <button class="button is-white is-fullwidth">Completed</button>
                            </div>
                            <hr class="dropdown-divider">
                            <div class="dropdown-item">
                                <button class="remove-button button is-danger is-inverted is-fullwidth">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        </footer>
    </div>
</div>