{{!-- empty space --}}
<section>
    </br>
</section>

{{!-- Change user profile functionality --}}
<section id="profile-section" class="columns is-centered">
    <div class="column is-three-fifths custom-bg-color has-text-white">

        <h2>Profile</h2>

        <article class="media">
            <figure class="media-left">
                <p class="image">
                    {{!-- container for user profile image --}}
                    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>

            <div class="media-content">
                <div class="content">
                    <p class="has-text-grey-lighter">
                    <strong class="has-text-info">USERNAME</strong>
                    <input class="input" id="newuser-input" type="text" placeholder="Type New Username">
                    <p></p>
                    <strong class="has-text-info">PASSWORD</strong>
                    <input class="input" id="newpass-input" type="text" placeholder="Type New Password">
                    </br>
                    </p>
                </div>
            </div>
        </article>
    </div>
</section>

{{!-- All user comments --}}
<section id="comment-section" class="custom-bg-color has-text-white">
    <p class="has-text-weight-semibold">Your Comments</p>


{{#each comments as |comment|}}
{{!-- container for each comment --}}
<article class="media">
    <figure class="media-left">
        <p class="image is-48x48">
            {{!-- container for user profile image --}}
            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p class="has-text-grey-lighter">
                <strong class="has-text-info">{{user.username}}</strong>
                <small>{{format_date createdAt}}</small>
                <br>
                {{comment_text}}
                <br>
                <a href="/{{content_type}}/{{content_id}}">
                    <small>Go to {{content_type}} page</small>
                </a>
            </p>
        </div>
    </div>
</article>
{{/each}}

</section>

